[*.cs]

# IDE1006: Naming Styles

dotnet_diagnostic.IDE1006.severity=none
dotnet_sort_system_directives_first=true

csharp_new_line_before_else = true
csharp_new_line_before_open_brace=all
csharp_style_var_for_built_in_types=false
csharp_style_var_when_type_is_apparent=false
csharp_style_var_elsewhere=false
csharp_prefer_braces=when_multiline
